@model WDDN_V2.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    //enter email and generate OTP .
}



@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    if (Request.IsAuthenticated)
    {
        <hr />

        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Info</h4>
            <h2>You are already logged in.</h2>
            <hr />

        </div>
      
    }
    else
    {
        <h2>@ViewBag.Title.</h2>
        <hr />
        <h4>Enter your email.</h4>
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-info" value="Get OTP" />
            </div>
        </div>
        <p><br /><strong>NOTE:</strong> We will send an OTP to this email address</p>
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
