@model WDDN_V2.Models.ForgotPasswordConfirmationViewModel
@{
    ViewBag.Title = "Forgot Password Confirmation";
    //User will enter OTP to change his/her login password
}
@using (Html.BeginForm("ForgotPasswordConfirmation", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    if (Request.IsAuthenticated)
    {
   
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Info</h4>
            <h2>You are already logged in.</h2>
            <hr />

        </div>
       
    }
    else
    {
        <h2>Enter OTP and set a new password here</h2>
        @Html.ValidationSummary("", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.Code)

        <div class="form-group">
            @Html.LabelFor(m => m.OTP, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.OTP, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.New_Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.New_Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Confirm_Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Confirm_Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-info" value="Submit" />
            </div>
        </div>
        <p class="text-info">Please check your email inbox for OTP and verify here.</p>
    }
}


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }